@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292C34;
}

body {
    background-color: #292C34;
}

.header {
    background: white;
    padding: 20px;
}

.header h1 {
    color: #24272E;
    text-align: center;
    background-color: white;
    font-family: Asap, sans-serif;
}


.score-board {
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge1 {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-online{
    position: absolute;
    font-family: Asap, sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 32px;
    top: 25px;
    left: 25px;
}
#user-online span{
    background-color: #fff;
}
#room{
    position: absolute;
    font-family: Asap, sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 32px;
    top: 25px;
    right: 25px;
}
#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #24272E;
}

.choice i{
    background-color: transparent;
}
#action-message {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid #288002;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}
.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 80%;
    position: absolute;
    width: 100%;
}

/* Login Page */


.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    font-family: Asap, sans-serif;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}
.game.page{
    display: none;
}
.lobby.page{
    display: none;
}
.lobby.page h3{
    color: white;
    height: 100px;
    margin-top: -200px;
    position: absolute;
    font-family: Asap, sans-serif;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 200%;
    letter-spacing: 3px;
}
.lobby.page button{
    color: white;
    height: 100px;
    position: absolute;
    font-family: Asap, sans-serif;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 200%;
    letter-spacing: 3px;
}
.lobby-list.page{
    display: none;
}
.lobby-list.page{
    color: white;
    height: 100px;
    position: absolute;
    font-family: Asap, sans-serif;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 200%;
    letter-spacing: 3px;
}
#btnStart{
    color: white;
}

.game-created.page{
    display: none;
}
.title{
    color: white;
    height: 100px;
    width: 100%;
    font-size: 200%;
    letter-spacing: 3px;
}

.lobby.page{
    color: #fff;
}
/*
.lobby.page{
     Text zentrieren 
    text-align:center;
     
    /* Inhalt vertikal mittig platzieren 
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}

.lobby.page .lobby-container{
    background-color: #fff;
    height: 400px;
    width: 800px;
    margin: 0 auto;
}
.lobby.page .lobby-container .lobby-menu{
    background-color: #288002;
    margin-left: 600px;
    width: 200px;
    height: 400px;
}
*/

.lobby-create.page{
    display: none;
}
.lobby-create.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    font-family: Asap, sans-serif;
    text-align: center;
    top: 50%;
    width: 100%;
}

.lobby-create.page .form .lobbyNameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.lobby-create.page .title {
    font-size: 200%;
}

.lobby-create.page .lobbyNameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.lobby-create.page .title, .lobby-create.page .lobbyNameInput {
    color: #fff;
    font-weight: 100;
}

.roomlist-view{
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dialog, .room-view>.container {
    background-color: #1A2125;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}
.roomlist-view>.dialog, .room-view.roomlist-view>.container {
    position: relative;
    min-height: 0;
    max-width: 650px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    color: #fff;
}
.dialog>:not(:last-child), .room-view>.container>:not(:last-child) {
    margin-bottom: 6px;
}
.dialog>h1, .room-view>.container>h1 {
    background-color: #1A2125;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px !important;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 3px;
    border-bottom-color: #c13535;
    border-bottom-style: solid;
}
.roomlist-view>.dialog>.splitter, .room-view.roomlist-view>.container>.splitter {
    background-color: #1A2125;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}
.roomlist-view>.dialog>.splitter, .room-view.roomlist-view>.container>.splitter {
    background-color: #1A2125;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}
.dialog>:not(:last-child), .room-view>.container>:not(:last-child) {
    margin-bottom: 6px;
    background-color: #1A2125;
}
.roomlist-view>.dialog>.splitter>.list, .room-view.roomlist-view>.container>.splitter>.list {
    background-color: #1A2125;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.roomlist-view>.dialog>.splitter>.list .separator, .room-view.roomlist-view>.container>.splitter>.list .separator {
    height: 2px;
    width: 100%;
    background-color: gray;
}
.roomlist-view>.dialog>.splitter>.list, .room-view.roomlist-view>.container>.splitter>.list {
    background-color: #1A2125;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.roomlist-view>.dialog>.splitter>:not(:last-child), .room-view.roomlist-view>.container>.splitter>:not(:last-child) {
    margin-right: 6px;
}
.roomlist-view>.dialog>.splitter>.list table.header, .room-view.roomlist-view>.container>.splitter>.list table.header {
    width: calc(100% - 12px);
    margin-right: 15px;
    flex: 0;
}
.roomlist-view>.dialog>.splitter>.list table, .room-view.roomlist-view>.container>.splitter>.list table {
    table-layout: fixed;
    background-color: #1A2125;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.roomlist-view>.dialog>.splitter>.list .content, .room-view.roomlist-view>.container>.splitter>.list .content {
    background-color: #1A2125;
    position: relative;
    overflow: hidden;
    flex: 1;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.roomlist-view>.dialog>.splitter>.list .content table, .room-view.roomlist-view>.container>.splitter>.list .content table {
    margin-top: 5px;
    width: calc(100% - 12px);
}
.roomlist-view>.dialog>.splitter>.list table, .room-view.roomlist-view>.container>.splitter>.list table {
    table-layout: fixed;
}
.roomlist-view>.dialog>.splitter>.list tbody tr, .room-view.roomlist-view>.container>.splitter>.list tbody tr {
    line-height: 22px;
}
.roomlist-view>.dialog>.splitter>.buttons, .room-view.roomlist-view>.container>.splitter>.buttons {
    background-color: #1A2125;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: stretch;
}
.roomlist-view>.dialog>.splitter>.buttons>:not(:last-child), .room-view.roomlist-view>.container>.splitter>.buttons>:not(:last-child) {
    margin-bottom: 6px;
}
.roomlist-view>.dialog>.splitter>.buttons>button, .room-view.roomlist-view>.container>.splitter>.buttons>button {
    padding-left: 10px;
    display: flex;
}
.dialog button, .room-view>.container button {
    background-color: #244967;
}
.roomlist-view>.dialog>.splitter>.buttons>.spacer, .room-view.roomlist-view>.container>.splitter>.buttons>.spacer {
    flex: 1;
    margin-bottom: 0px;
}
.roomlist-view>.dialog>.splitter>.list tbody tr.selected, .room-view.roomlist-view>.container>.splitter>.list tbody tr.selected {
    background-color: #3a4952 !important;
}
.roomlist-view>.dialog>.splitter>.list td, .room-view.roomlist-view>.container>.splitter>.list td {
    background-color: #1A2125;
    white-space: nowrap;
    overflow: hidden;
}
.roomlist-view>.dialog>.splitter>.list td:not(:first-child), .room-view.roomlist-view>.container>.splitter>.list td:not(:first-child) {
    padding-left: 6px;
}
.roomlist-view>.dialog>.splitter>.list td span, .room-view.roomlist-view>.container>.splitter>.list td span {
    background-color: #1A2125;
    white-space: nowrap;
    overflow: hidden;
}